<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      
      <class name="org.testing.testcases.TC1_Getallrecords"/>
      <class name="org.testing.testcases.TC2_Postrecord"/>
      <class name="org.testing.testcases.TC3_Getsinglerecord"/>
      <class name="org.testing.testcases.TC4_Putrecord"/>
      <class name="org.testing.testcases.TC5_Deletrecord"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
